@font-face {
	font-family: 'Luckiest';
	src: url('../assets/fonts/LuckiestGuy.ttf') format('truetype');
}

@font-face {
    font-family: 'CooperBlack';
    src: url('../assets/fonts/CooperBlackStd.otf') format('truetype');
}

*{
	padding: 0;
	margin: 0;
}

#page-container{
	width: 100%;
	height: 100vh;
	float:left;
	overflow:hidden;
	}

#chat-panel{
	float:right;
	min-width: 300px;
	max-width: 400px;
	width: 20vw;
	height: 100%;
	background:yellow;
}

#game-area{
	height: 100%;
	overflow: hidden;
	/*background:#34353b;*/
}
